<div class="footer-container footer bg-dark">
    <div class="footer-content"><br>
        <div class="social-media">
            <div class="icon">
                <a href="https://www.facebook.com/">
                <img src="/assets/Images/facebook.png" alt="https://www.facebook.com/"></a>
            </div>
            <div class="icon">
                <a href="https://www.youtube.com/c/FryingPan">
                    <img src="/assets/Images/youtube.png" alt="">
                </a>
            </div>
            <div class="icon">
                <a href="https://mobile.twitter.com/i/flow/login">
                <img src="/assets/Images/twitter.png" alt="">
            </a>
            </div>
        </div>
        
        <div class="footer-info d-flex">
            <div class="copyright d-flex" style="color: white;">
                <p class="mb-0">COPYRIGHT ©2020 SRINIVAS M SANGEETIC CORPORATION. ALL RIGHTS RESERVED.</p>
                <ul class="d-flex mt-2">
                    <li class="pr-3"><a href="#"><strong>Privacy Policy</strong></a></li>
                    <li class="pr-3"><a href="#"><strong>Email Us: srinchow@gmail.com</strong></a></li>
                    <li>|<a href="#" class="pl-3"><strong>Contact Us:+91 8496820352</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>